nextflow.enable.dsl=2

docker.enabled = false

params {
    outdir = "resources/02-nextflow-results"    // carpeta de salida por defecto
    project_path = "/Users/adrian/Documents/5 Wharehouse/prototipo-resultados/0101-EXT-25-Transcriptomics-Bulk-RNA-Seq"    // ruta del proyecto
    experiment_name = "exp1"    // nombre del experimento
    report_version = 1    // versión del informe (1: "full", 2: "compact")
}
